/* ============================== */
/* ! Clearfix hacks and styles    */
/* ============================== */

html.lt-ie7 .row,
html.lt-ie7 .clr,
html.lt-ie7 .group							{ zoom: 1; } /* IE6 */

html.lt-ie8 *:first-child+html .row,
html.lt-ie8 *:first-child+html .clr,
html.lt-ie8 *:first-child+html .group		{ zoom: 1; } /* IE7 */

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
	
}
NAV > #mobileNav {display:none}